<div class="navbar">
  <div class="navbar-box" id= "articles-nav">
    <%= link_to  articles_path , class: "tab navbar-link" do %>
    <h3>articles</h3>
    <% end %>
    <div class="underline">
    </div>
  </div>
  <div class="navbar-box " id= "pages-nav">
    <%= link_to pages_path  , class: "tab navbar-link "  do %>
    <h3>pages</h3>
    <% end %>
    <div class="underline">
    </div>
  </div>
  <div class="navbar-box" id= "ressources-nav">
    <%= link_to "ressources" , class: "tab navbar-link" do%>
    <h3>ressources</h3>
    <% end %>
    <div class="underline">
    </div>
  </div>
</div>
