<div class="navbar">
  <div class="navbar-box">
  <%= link_to  articles_path , class: "tab navbar-link active"  do %>
  <h2>articles</h2>
  <% end %>
  <div class="underline">
  </div>
  </div>
  <div class="navbar-box">
  <%= link_to pages_path  , class: "tab navbar-link " do %>
  <h3>pages</h3>
   <% end %>
  <div class="underline">
  </div>
  </div>
  <div class="navbar-box">
  <%= link_to "#" , class: "tab navbar-link" do%>
  <h3>ressources</h3>
   <% end %>
  <div class="underline">
  </div>
  </div>
</div>
