.modal-content{
    height: 690px;
    width: 500px;
    border-radius: 8px;
}

.modal-title{
  margin: 0 auto;
}
.modal-header{
 padding: 15px;
 border-bottom: none;
  text-align: center;
      margin-top: 30px;
}

.modal-body{
 padding: 15px;
 border-bottom: none;
text-align: center;

}

.modal-footer{
  text-align: center;
  border-top: none;
}

.form-control{
  width: 400px;
  height: 40px;
  border-color: #848484;
  margin: 0 auto;

}

.modal-container{
  width: 400px;
  margin:0 auto;

}

.form-group{
  abbr{
    display: none;
  }
}

.control-label{
  font-size: 12px;
  font-weight: 400;
  color: black;
}

.close{
  opacity: 1;
}

.radio-buttons{
  display: flex;
}

.radio-button{
  height: 104px;  width: 104px; border-radius: 8px; background-color: #FFFFFF;  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}
