



<div class="lightbox">
  <div id="code">
        </div>
</div>

     <div class="cards">
      <div class="row">
        <%@pages.each do |page|%>

          <div class="col-xs-12 col-sm-6  col-md-4">
            <div class="card square puntodeapoyo">



              <div class="card-title">
                <h3><%=link_to page.url ,  page.url%></h3>
              </div>
              <%=link_to edit_reference_path(page)do%>
        <i class="fa fa-facebook"></i>
        <% end %>

                <div class="card-footer">
                <%=link_to references_delete_path(page),  method: :delete,  data: { confirm: "Are you sure?" } do%>
                  <i class="fa fa-trash-o"></i>

                <% end %>

                <div class="card-tags">

                </div>

              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
