.add-button{
  height: 50px;
  width:50px;
  background-color: $red;
  border-radius: 100%;
  margin: 30px auto;
}

.plus-sign{
  margin: 8px;
}
.btn-sumbit{
  height: 40px;
  width: 161px;
  border-radius: 20px;
  background-color: #E95262;
  color: white;
}
