.card{
  width: 265px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 15px 55px 0 rgba(0,0,0,0.07), 0 2px 4px 0 rgba(0,0,0,0.5);
  margin:0 auto;
}

.article-img-frame{
    height: 125px;
    width: 220px;
    margin: 0 auto;
}

.image-card{
  height: 125px;
  width: 100%;
}

.article-card{
  padding: 20px;
}
