.navbar{
  display: flex;
  height: 70px;
  border-bottom: 1px solid black;
  text-align: center;
  background-color:white;
  justify-content: space-around;
  align-items: center;
  a:hover{
    opacity: 1;
  }
}

.navbar-box{
  height:70px;
  width:200px;
  position: relative;
  text-align: left;

}

.red{
  color: $red;
}

.underline{
  height: 5px;
  width:0px;
  background-color: black;
  position: absolute;
  top: 65px;
  left:0;
  transition-timing-function: linear;
  -webkit-transition: width 800ms;
  transition: width 800ms;
}

.navbar-link{
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-color: red;
  margin: 0 auto;
}
